<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="onClickScroll('scope')">Scope</li>
      <li nz-menu-item (click)="onClickScroll('milestone')">Milestone</li>
      <li nz-menu-item (click)="onClickScroll('documents')">Documents</li>
      <li nz-menu-item (click)="onClickScroll('team')">Team</li>
      <li nz-menu-item (click)="onClickScroll('contact')">Contact Us</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <nz-carousel [nzEffect]="effect">
        <div nz-carousel-content *ngFor="let index of array">
          <h3>{{ index }}</h3>
        </div>
      </nz-carousel>
      <div nz-row id="scope">
        <article nz-typography>
          <h1 nz-typography>Introduction</h1>
          <p nz-typography>
            In the process of internal desktop applications development, many
            different design specs and implementations would be involved, which
            might cause designers and developers difficulties and duplication
            and reduce the efficiency of development.
          </p>
          <p nz-typography>
            After massive project practice and summaries, Ant Design, a design
            language for backgroundapplications, is refined by Ant UED Team,
            which aims to
            <span nz-typography>
              <strong>
                uniform the user interface specs for internal background
                projects, lower the unnecessary cost of design differences and
                implementation and liberate the resources ofdesign and front-end
                development
              </strong>
            </span>
            .
          </p>
          <h2 nz-typography>Guidelines and Resources</h2>
          <p nz-typography>
            We supply a series of design principles, practical patterns and high
            quality design resources (
            <span nz-typography><code>Sketch</code></span>
            and
            <span nz-typography><code>Axure</code></span>
            ), to help people create their product prototypes beautifully and
            efficiently.
          </p>
          <div nz-typography>
            <ul>
              <li>
                <a href="/docs/spec/proximity">Principles</a>
              </li>
              <li>
                <a href="/docs/pattern/navigation">Patterns</a>
              </li>
              <li>
                <a href="/docs/resource/download">Resource Download</a>
              </li>
            </ul>
          </div>
          <p nz-typography>
            Press
            <span nz-typography><kbd>Esc</kbd></span>
            to exist...
          </p>
        </article>
      </div>
      <div nz-row id="milestone">
        <div nz-col nzFlex="400px">
          <nz-card>
            <nz-steps [nzCurrent]="1" nzDirection="vertical">
              <nz-step
                nzTitle="Finished"
                nzDescription="This is a description."
              ></nz-step>
              <nz-step
                nzTitle="In Progress"
                nzDescription="This is a description."
              ></nz-step>
              <nz-step
                nzTitle="Waiting"
                nzDescription="This is a description."
              ></nz-step>
            </nz-steps>
          </nz-card>
        </div>
        <div nz-col nzFlex="auto"><nz-card></nz-card></div>
      </div>
      <div nz-row id="documents">
        <nz-card nzTitle="Cart Title">
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
          <div nz-card-grid [ngStyle]="gridStyle">Content</div>
        </nz-card>
      </div>
      <div nz-row id="team"></div>
      <div nz-row id="contact"></div>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
