.layout {
  min-height: 100vh;
}

li {
  background-color: none;
  text-decoration-color: none;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
}

/* carosal*/
[nz-carousel-content] {
  text-align: center;
  height: 130px;
  line-height: 180px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

/*form*/
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

li {
  background-color: transparent !important;
}
